.Juego {
    text-align: center;
  }
  
  .menu-principal{
      position: relative;
      left: 500px;
      top: 300px;
      padding: 50px;
      border-color: black;
      
      border: 1px;
      background-color:cornsilk;
      -webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.3);
      -moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.3);
      box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.3);
  
      border-radius: 10px 10px 10px 10px;
      -moz-border-radius: 10px 10px 10px 10px;
      -webkit-border-radius: 10px 10px 10px 10px;
      border: 0px solid #000000;
      width: 30%;
  }
  
  .icono-menu{
    height: 100px;
    position: relative;
    bottom: 30px;
  }
  
  
  